_site
TAGS
*.o
*.so
.Rhistory
.Rapp.history
*~
Rplots.pdf
src-*
*.swp
issue*R
issue*dat
issue*png
man/figures/*pdf
man/figures/*png
!man/figures/starCoords.png
inst/doc/oce.R
.DS_Store
.Rproj.user
oce.Rproj
.RData
vignettes/.build.timestamp
inst/doc/oce.R
inst/doc/oce.Rmd
autom4te.cache
*.nc
*.zip
inst/doc
