^build$
_site
TAGS
*.o
*.so
*.dll
.Rhistory
.Rapp.history
*~
Rplots.pdf
src-*
*.swp
issue*R
issue*dat
issue*png
man/figures/*pdf
man/figures/*png
!man/figures/starCoords.png
.DS_Store
.Rproj.user
oce.Rproj
.RData
autom4te.cache
*.nc
*.zip
*.csv
test*.R
*.out
oce_[a-zA-Z]*.Rproj

