useDynLib(oce)
import(methods)
importFrom(utils, head, tail)
exportMethods(print, plot, head, tail)
export(
       "+.section",
       beamName,
       addColumn,
       airRho,
       angleRemap,
       applyMagneticDeclination,
       as.coastline,
       as.ctd,
       as.pt,
       as.sealevel,
       as.topo,
       as.windrose,
       beamUnattenuateAdp,
       beamToXyz,
       beamToXyzAdp,
       beamToXyzAdv,
       binAverage,
       bcdToInteger,
       byteToBinary,
       coordinate,
       coriolis,
       ctdAddColumn,
       ctdDecimate,
       ctdTrim,
       ctdUpdateHeader,
       ctimeToSeconds,
       decimate,
       despike,
       detrend,
       drawIsopycnals,
       drawPalette,
       elevation,
       enuToOther,
       enuToOtherAdp,
       enuToOtherAdv,
       extract,
       fillGap,
       findInOrdered,
       formatCI,
       fullFilename,
       geodDist,
       geodXy,
       GMTOffsetFromTz,
       gravity,
       header,
       heading,
       "heading<-",
       processingLog,
       "processingLog<-",
       processingLogItem,
       imagep,
       interpBarnes,
       integerToAscii,
       is.beam,
       is.xyz,
       is.enu,
       latFormat,
       latitude,
       "latitude<-",
       latlonFormat,
       loggerToc,
       lonFormat,
       longitude,
       "longitude<-",
       magic,
       magneticDeclination,
       makeFilter,
       makeSection,
       matchBytes,
       matrixSmooth,
       numberAsPOSIXct,
       oceApprox,
       oce.as.POSIXlt,
       oce.axis.POSIXct,
       oceBisect,
       oceColorsGebco,
       oceColorsPalette,
       oceColorsJet,
       oceColorsTwo,
       oceDebug,
       oceEdit,
       oceFilter,
       oce.plot.ts,
       oce.plot.sticks,
       oceSmooth,
       oceSpectrum,
       oce.write.table,
       parseLatLon,
       pitch,
       "pitch<-",
       plot.adp,
       plot.adv,
       plotTS,
       plot.cm,
       plot.coastline,
       plot.ctd,
       plotScan,
       plot.pt,
       plot.topo,
       plotProfile,
       plot.sealevel,
       plot.section,
       plot.tidem,
       plot.windrose,
       pressure,
       "pressure<-",
       ptPatm,
       ptTrim,
       pwelch,
       rangeLimit,
       read.adp,
       read.adp.rdi,
       read.adp.nortek,
       read.adp.sontek,
       read.adp.sontek.serial,
       read.adv,
       read.adv.nortek,
       read.adv.sontek.serial,
       read.adv.sontek.adr,
       read.adv.sontek.text,
       read.cm,
       read.coastline,
       read.coastline.shapefile,
       read.ctd,
       read.ctd.sbe,
       read.ctd.woce,
       read.ctd.odf,
       read.drifter,
       read.lobo,
       read.topo,
       read.oce,
       read.pt,
       read.sealevel,
       read.section,
       rescale,
       retime,
       roll,
       "roll<-",
       secondsToCtime,
       resizableLabel,
       salinity,
       "salinity<-",
       sectionGrid,
       sectionSmooth,
       sectionSort,
       showThrees,
       sigmaTheta,
       stickplot,
       subset.oce,
       summary.processingLog,
       sunAngle,
       swAlpha,
       swAlphaOverBeta,
       swBeta,
       swConductivity,
       swDepth,
       swZ,
       swDynamicHeight,
       swLapseRate,
       swN2,
       swRho,
       swSCTp,
       swSigma,
       swSigmaT,
       swSigmaTheta,
       swSoundSpeed,
       swSpecificHeat,
       swSpice,
       swSTrho,
       swTFreeze,
       swTheta,
       swTSrho,
       swViscosity,
       temperature,
       "temperature<-",
       threenum,
       tidem,
       tidemAstron,
       tidemVuf,
       time.oce,
       toEnu,
       toEnuAdp,
       toEnuAdv,
       topoInterpolate,
       unabbreviateYear,
       undriftTime,
       unwrapAngle,
       useHeading,
       vectorShow,
       velocity,
       velocityStatistics,
       window.oce,
       write.ctd,
       xyzToEnu,
       xyzToEnuAdp,
       xyzToEnuAdv
       )

S3method(head, adp)
S3method(tail, adp)
S3method(plot, adp)
S3method(plot, adv)
S3method(plot, cm)
S3method(plot, coastline)
S3method(plot, ctd)
S3method(plot, drifter)
S3method(plot, lobo)
S3method(plot, sealevel)
S3method(plot, section)
S3method(plot, pt)
S3method(plot, tidem)
S3method(plot, topo)
S3method(plot, windrose)
S3method(print, summary.processingLog)
S3method(print, summary.adp)
S3method(print, summary.adv)
S3method(print, summary.cm)
S3method(print, summary.coastline)
S3method(print, summary.ctd)
S3method(print, summary.drifter)
S3method(print, summary.lobo)
S3method(print, summary.sealevel)
S3method(print, summary.section)
S3method(print, summary.pt)
S3method(print, summary.tidem)
S3method(print, summary.topo)
S3method(predict, tidem)
S3method(summary, adp)
S3method(summary, adv)
S3method(summary, cm)
S3method(summary, coastline)
S3method(summary, ctd)
S3method(summary, drifter)
S3method(summary, lobo)
S3method(summary, oce)
S3method(summary, sealevel)
S3method(summary, section)
S3method(summary, pt)
S3method(summary, tidem)
S3method(summary, topo)
S3method(summary, windrose)

