useDynLib(oce)
export(
       "+.section",
       add.column,
       as.coastline,
       as.ctd,
       as.sealevel,
       as.windrose,
       adcp.beam2frame,
       adcp.frame2earth,
       adcp.earth2other,
       adcp.beam.attenuate,
       bcd2integer,
       byte2binary,
       coriolis,
       ctd.add.column,
       ctd.decimate,
       ctd.trim,
       ctd.update.header,
       decimate,
       fill.gap,
       geod.dist,
       geod.xy,
       GMT.offset.from.tz,
       gravity,
       header,
       imagep,
       interp.barnes,
       lat.format,
       latlon.format,
       lon.format,
       magic,
       make.filter,
       make.section,
       matlab2POSIXt,
       oce.axis.POSIXct,
       oce.as.POSIXlt,
       oce.colors.gebco,
       oce.colors.palette,
       oce.colors.jet,
       oce.colors.two,
       oce.edit,
       oce.write.table,
       parse.latlon,
       plot.adcp,
       plot.TS,
       plot.coastline,
       plot.ctd,
       plot.ctd.scan,
       plot.pt,
       plot.topo,
       plot.profile,
       plot.sealevel,
       plot.section,
       plot.tidem,
       plot.windrose,
       processing.log.append,
       processing.log.item,
       processing.log.summary,
       pt.patm,
       pt.trim,
       read.adcp,
       read.adcp.rdi,
       read.adcp.nortek,
       read.coastline,
       read.ctd,
       read.topo,
       read.lobo,
       read.oce,
       read.pt,
       read.sealevel,
       read.section,
       resizable.label,
       section.grid,
       section.smooth,
       subset.oce,
       stickplot,
       sw.alpha,
       sw.alpha.over.beta,
       sw.sound.speed,
       sw.beta,
       sw.conductivity,
       sw.depth,
       sw.dynamic.height,
       sw.lapse.rate,
       sw.N2,
       sw.rho,
       sw.S.C.T.p,
       sw.sigma,
       sw.sigma.t,
       sw.sigma.theta,
       sw.specific.heat,
       sw.spice,
       sw.S.T.rho,
       sw.T.freeze,
       sw.theta,
       sw.T.S.rho,
       sw.viscosity,
       tidem,
       tidem.astron,
       tidem.vuf,
       undrift.time,
       write.ctd
       )

S3method(plot, adcp)
S3method(plot, coastline)
S3method(plot, ctd)
S3method(plot, lobo)
S3method(plot, sealevel)
S3method(plot, section)
S3method(plot, pt)
S3method(plot, tidem)
S3method(plot, topo)
S3method(plot, windrose)
S3method(print, summary.adcp)
S3method(print, summary.coastline)
S3method(print, summary.ctd)
S3method(print, summary.lobo)
S3method(print, summary.sealevel)
S3method(print, summary.section)
S3method(print, summary.pt)
S3method(print, summary.tidem)
S3method(print, summary.topo)
S3method(predict, tidem)

S3method(summary, adcp)
S3method(summary, coastline)
S3method(summary, ctd)
S3method(summary, lobo)
S3method(summary, oce)
S3method(summary, sealevel)
S3method(summary, section)
S3method(summary, pt)
S3method(summary, tidem)
S3method(summary, topo)
S3method(summary, windrose)
