useDynLib(oce)
import(methods)
import(gsw)
importFrom("mapproj", mapproject)
importFrom("graphics", plot)
importFrom("utils", head, tail)
importFrom("stats", predict, time, window)
exportMethods(plot)
exportMethods(subset)
exportMethods(summary)
export(abbreviateTimeLabels,
       approx3d,
       argShow,
       beamName,
       addColumn,
       airRho,
       angleRemap,
       applyMagneticDeclination,
       as.coastline,
       as.ctd,
       as.drifter,
       as.echosounder,
       as.gps,
       as.lisst,
       as.lobo,
       as.met,
       as.logger,
       as.sealevel,
       as.section,
       as.topo,
       as.windrose,
       beamUnspreadAdp,
       beamToXyz,
       beamToXyzAdp,
       beamToXyzAdv,
       binmapAdp,
       binAverage,
       binApply1D,
       binApply2D,
       binCount1D,
       binCount2D,
       binMean1D,
       binMean2D,
       bcdToInteger,
       byteToBinary,
       coastlineBest,
       colormap,
       coordinate,
       coriolis,
       ctdAddColumn,
       ctdDecimate,
       ctdFindProfiles,
       ctdTrim,
       ctdUpdateHeader,
       ctimeToSeconds,
       curl,
       decimate,
       decodeHeaderNortek,
       decodeTime,
       despike,
       detrend,
       distance,
       drawDirectionField,
       drawIsopycnals,
       drawPalette,
       drifterGrid,
       eclipticalToEquatorial,
       elevation,
       enuToOther,
       enuToOtherAdp,
       enuToOtherAdv,
       equatorialToLocalHorizontal,
       errorbars,
       extract,
       fillGap,
       findBottom,
       findInOrdered,
       formatCI,
       formatPosition,
       fullFilename,
       geodGc,
       geodDist,
       geodXy,
       GMTOffsetFromTz,
       grad,
       gravity,
       header,
       heading,
       "heading<-",
       imagep,
       interpBarnes,
       integerToAscii,
       is.beam,
       is.xyz,
       is.enu,
       integrateTrapezoid,
       julianDay,
       julianCenturyAnomaly,
       landsatAdd,
       landsatTrim,
       latFormat,
       latitude,
       "latitude<-",
       latlonFormat,
       loggerToc,
       lonlat2utm,
       lonlat2map,
       lonFormat,
       longitude,
       "longitude<-",
       magneticField,
       makeFilter,
       makeSection,
       mapArrows,
       mapAxis,
       mapContour,
       mapDirectionField,
       mapGrid,
       mapImage,
       mapLines,
       mapLocator,
       mapLongitudeLatitudeXY,
       mapMeridians,
       mapPlot,
       mapPoints,
       mapPolygon,
       mapScalebar,
       mapText,
       mapTissot,
       mapZones,
       map2lonlat,
       matchBytes,
       matrixSmooth,
       moonAngle,
       nitrate,
       "nitrate<-",
       nitrite,
       "nitrite<-",
       numberAsHMS,
       numberAsPOSIXct,
       oce.approx, oceApprox,
       oce.as.raw,
       oce.as.POSIXlt,
       oce.axis.POSIXct,
       oce.colorsGebco, oceColorsGebco,
       oce.colorsPalette, oceColorsPalette,
       oce.colorsJet, oceColorsJet,
       oce.colorsTwo, oceColorsTwo,
       oce.colors9A, oceColors9A,
       oce.colors9B, oceColors9B,
       oce.debug, oceDebug,
       oce.edit, oceEdit,
       oce.filter, oceFilter,
       oce.magic, oceMagic,
       oce.convolve, oceConvolve,
       oce.contour, oceContour,
       oce.grid,
       oce.plot.ts,
       oce.pmatch, ocePmatch,
       oce.smooth, oceSmooth,
       oce.spectrum, oceSpectrum,
       oce.write.table,
       oxygen,
       "oxygen<-",
       parseLatLon,
       plotPolar,
       plotTaylor,
       predict.tidem,
       "processingLog<-",
       processingLog,
       processingLogAppend,
       processingLogItem,
       processingLogShow,
       phosphate,
       "phosphate<-",
       pitch,
       "pitch<-",
       plotInset,
       plotSticks,
       plotTS,
       plotScan,
       plotProfile,
       pressure,
       "pressure<-",
       prettyPosition,
       pwelch,
       rangeExtended,
       rangeLimit,
       read.adp,
       read.adp.rdi,
       read.adp.sontek,
       read.adp.sontek.serial,
       read.adv,
       read.adv.nortek,
       read.adv.sontek.serial,
       read.adv.sontek.adr,
       read.adv.sontek.text,
       read.aquadopp, # wrapper for read.adp.nortek()
       read.aquadoppProfiler, # wrapper for read.adp.nortek()
       read.aquadoppHR, # wrapper for read.adp.nortek()
       read.cm,
       read.coastline,
       read.coastline.shapefile,
       read.coastline.openstreetmap,
       read.ctd,
       read.ctd.sbe,
       read.ctd.woce,
       read.ctd.odf,
       read.ctd.odv,
       read.ctd.itp,
       read.drifter,
       read.echosounder,
       read.gps,
       read.index,
       read.landsat,
       read.lisst,
       read.lobo,
       read.met,
       read.topo,
       read.observatory,
       read.observatory.ctd,
       read.oce,
       read.logger,
       read.sealevel,
       read.section,
       rescale,
       resizableLabel,
       retime,
       roll,
       "roll<-",
       runlm,
       salinity,
       "salinity<-",
       secondsToCtime,
       sectionAddCtd,
       sectionAddStation,
       sectionGrid,
       sectionSmooth,
       sectionSort,
       showMetadataItem,
       siderealTime,
       sigmaTheta,
       silicate,
       "silicate<-",
       standardDepths,
       sunAngle,
       swAbsoluteSalinity,
       swAlpha,
       swAlphaOverBeta,
       swBeta,
       swConservativeTemperature,
       swCSTp,
       swDepth,
       swZ,
       swDynamicHeight,
       swLapseRate,
       swN2,
       swPressure,
       swRho,
       swRrho,
       swSCTp,
       swSigma,
       swSigmaT,
       swSigmaTheta,
       swSigma0, swSigma1, swSigma2, swSigma3, swSigma4,
       swSoundAbsorption,
       swSoundSpeed,
       swSpecificHeat,
       swSpice,
       swSTrho,
       swTFreeze,
       swThermalConductivity,
       swTheta,
       swTSrho,
       swViscosity,
       subtractBottomVelocity,
       temperature,
       "temperature<-",
       threenum,
       tidem,
       tidemAstron,
       tidemVuf,
       time.oce,
       toEnu,
       toEnuAdp,
       toEnuAdv,
       topoInterpolate,
       loggerPatm,
       loggerTrim,
       tritium,
       unabbreviateYear,
       undriftTime,
       ungrid,
       unwrapAngle,
       useHeading,
       vectorShow,
       velocity,
       velocityStatistics,
       webtide,
       window.oce,
       write.ctd,
       utm2lonlat,
       xyzToEnu,
       xyzToEnuAdp,
       xyzToEnuAdv)

S3method(head, adp)
S3method(predict, tidem)
S3method(tail, adp)
S3method(time, oce)
S3method(window, oce)

exportClasses(oce, adp, adv, cm, coastline, ctd, drifter, landsat, lisst, lobo, logger, met, sealevel, section, tidem, topo, windrose)

