html,body{height:100%;color:black;}
body{
  background-color:white;
  font:helvetica,arial,freesans,clean,sans-serif;
  *font-size:small;
}

pre,code{
  margin-left: 2em;
  font:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  font-size:100%;
  background-color:#FFE;
}

body *{line-height:1.4em;}
