html,body{height:100%;color:black;}
a, a:visited {
 text-decoration: underline;
}
body{
  font-family: helvetica,arial,freesans,clean,sans-serif;
  font-size:small;
}

tt{
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  font-size:90%;
}
pre,code{
  margin-top: -1em;
  margin-bottom: -1em;
  margin-left: 1em;
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  font-size:90%;
}

body *{line-height:1.4em;}
table.gallery {
  text-align: center;
}

table.galleryitem, table.galleryitembottom a{
  text-align: center;
}
div.center {
  text-align:center;
}
div.center a {
  font-weight: normal;
}
h1 {
  font-size: 110%;
  font-weight: bold;
  padding: 0em 0em 0em 0em;
  margin-top: -0.5em;
  margin-bottom: -1.0em;
}
