html,body{height:100%;color:black;}
body{
  background-color:white;
  font:helvetica,arial,freesans,clean,sans-serif;
  *font-size:small;
}

pre,code{
  margin-left: 2em;
  font:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  font-size:100%;
  background-color:#FFE;
}

body *{line-height:1.4em;}
table.gallery {
  text-align: center;
}

table.galleryitem, table.galleryitembottom a{
  text-align: center;
  float: bottom;
  background:#cc9;
}
div.center {
  text-align:center;
}
div.center a {
  font-weight: normal;
}
h1 {
  font-size: 110%;
  font-weight: bold;
  padding: 0em 0em 0em 0em;
  top-bottom: -0.5em;
  margin-bottom: -1.0em;
}
